{{> header}}
<br>
<h1> Information for adding to the interactome</h1>


<form>
  <div class="form-inline">
    <label for="ProteinID">ProteinId A: </label>
    <input type="text" class="form-control" id="Input_ProteinID">
  </div>
  <div class="form-inline">
    <label for="ProteinID">ProteinId B: </label>
    <input type="text" class="form-control" id="Input_ProteinID">
  </div>
  <div class="form-inline">
    <label for="ProteinID">Annotation Protein A: </label>
    <input type="text" class="form-control" id="Input_ProteinID">
  </div>
  <div class="form-inline">
    <label for="ProteinID">Annotation Protein B: </label>
    <input type="text" class="form-control" id="Input_ProteinID">
  </div>
  <div class="form-inline">
    <label for="ProteinID">Organism: </label>
    <input type="text" class="form-control" id="Input_ProteinID">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>



