{{> header}}


<div>

<form action="/addOrganism" method="POST">
    <div class="form-inline">
        <label for="Organism">Organism: </label>
        <input type="text" class="form-control" id="Organism" name="Organism">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<table id="Interactome" style="border:  1px solid black">
    <thead>
      <th>Experiment Type</th>
    </thead>
    <tbody id="Interactome_body" style="border:  1px solid black">
      {{#pDataSet.experiments}}
      <tr>
          <td id="id"style="display:none">{{id}}</td>
          <td id="Organism" name="Organism">{{experimentName}}</td>
          <td id="delete"> <input type="button" value="delete" onclick="deleteExperiment({{id}})" /></td>
          <td id="edit"> <input type="button" value="edit" onClick="modifyRow(this)"/></td>
      </tr>
      {{/pDataSet.experiments}}
    </tbody>
</table>

</div>