{{> header}}
<h1>This is to remove an interaction</h1>





 <div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      {{!-- <a href="/images/corn.jpg"> --}}
        <img src="/images/corn.jpg" alt="Lights" style="width:100%">
        <div class="caption">
          <p>Corn</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      {{!-- <a href="/images/corn2.jpg"> --}}
        <img src="/images/corn2.jpg" alt="Nature" style="width:100%">
        <div class="caption">
          <p>corn</p>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      {{!-- <a href="/images/fungus.jpg"> --}}
        <img src="/images/fungus.jpg" alt="Fjords" style="width:100%">
        <div class="caption">
          <p>Mushrooms </p>
        </div>
      </a>
    </div>
  </div>
</div>