{{> header}}

<h1>Update Organism</h1>
<form id="update-organism" action="/organism" method="POST">
	{{#oData.List}}
	<li id="id" style="display:none;">{{id}}</li>
	Organism Name: <input type="text" name="Organism" value="{{Organism}}"><br>
	{{/oData.List}}	
</form>
<button type="submit" class="btn btn-primary" onclick="updateOrganism({{id}})">Submit</button>


